footer {
    background-color: rgb(200 211 221) !important;
    position: absolute;
    width: 100%;
    bottom: 0;
}
  
footer p {
    margin: 0; /* Remove a margem padrão dos parágrafos */
    padding: 0; /* Remove o preenchimento padrão dos parágrafos */
}
  
footer h5 {
    margin-bottom: 1rem; /* Espaçamento abaixo do título de contato */
}
  